.completed {
    text-decoration: line-through;
}

div, table {
    background-color: blanchedalmond;
    margin: auto;
    text-align: center;
    max-width: 500px;
    min-width: 400px;
}

.container {
    margin-left: 0;
    padding-bottom: 25px;
}

div {
    box-shadow: rgb(247, 204, 139) 3px 3px;
}

form {
    padding-top: 25px;
}
/* Hat tip to https://www.zingerbug.com/ for the marbled header background: */
/* And to https://cssf1.com/snippet/add-a-box-shadow-to-only-one-side-of-an-element#:~:text=Description%3A,and%20offset%2Dy%3A%20%2D5px
for the tips how to make a box shadow on only one side */
header {
    background-color: brown;
    box-shadow: black 5px 1px 3px -3px;
        background-color:rgb(0,0,0);
        background-image:url(http://www.zingerbugimages.com/backgrounds/deep_brown_abstract_stone_pattern_tileable.jpg);
        background-position: top left;
        background-repeat:repeat;
        background-attachment:fixed;
}

hr {
    border-bottom: 1px;
    border-style: solid;
    border-color: lightblue;
}

/* Cheers to https://kinsta.com/blog/css-text-outline/ for showing how to do text outline */
h1 {
    font-weight: bolder;
    color: goldenrod;
    text-align: left;
    margin-left: 80px;
    -webkit-text-stroke-width: 0.75px;
    -webkit-text-stroke-color: black;
    margin-bottom: 0px;
}

h2, td {
    /* font-family: cursive; */
}

td {
    border-bottom: solid 1px lightblue;
}